@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50;
  }
}

@layer components {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-blue-800;
  }

  .card-hover {
    @apply transition-all duration-300;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}